@import "variables";
@import "typography";

.mobile-section {
  width: 360px;
  height: auto;
  margin: auto;
  background-color: $wt;
}

.home-section {
  background-color: $bg-grey;
  width: 100%;
  height: auto;
  border-radius: 12px 12px 0px 0px;
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

body {
  background-color: #e5e5e5;
  font-family: Roboto;
}

.logo-wrapper {
  margin: 16px auto 20px auto;
  width: fit-content;
}

.hc3 {
  min-width: 320px;
  max-width: 320px;
  height: 350px;
  border-radius: 12px;
  background-color: $bg-hc3;
  padding: 20px 30px;
  box-sizing: border-box;
  color: $wt;

  .cta {
    margin-top: 24px;
  }
}

.hc3-hero-text {
  font-weight: 500;
  font-size: 30px;
  margin-top: 16px;

  span {
    color: #fbaf03;
  }
}

.cta {
  cursor: pointer;
  padding: 12px 40px;
  border-radius: 6px;
  background-color: $bk;
  color: $wt;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  border: none;
}

.hc6 {
  display: flex;
  min-width: 320px;
  max-width: 320px;
  height: 60px;
  align-items: center;
  padding: 0 20px;
  border-radius: 12px;
  background-color: $wt;
  color: $bk;
  box-sizing: border-box;
  justify-content: space-between;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  img:nth-child(1) {
    height: 30px;
    width: 30px;
  }
}

.hc5 {
  width: 320px;
  height: 130px;
  background-size: cover;
  border-radius: 12px;
  cursor: pointer;
}

.hc4 {
  width: 320px;
  height: 200px;
  background: linear-gradient(335.97deg, #fbaf03 3.44%, #ffd428 86.36%);
  border-radius: 11px;
  align-items: center;
  gap: 4px;

  span {
    color: $grey;
    margin: 8px 0;
  }

  p {
    font-weight: 500;
    margin: 0 0 8px 0;
  }

  .flex-row {
    gap: 8px;
  }

  .flex-column {
    align-items: center;
  }
}

.hc4img {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  margin-top: 15px;
}

.hc1 {
  display: flex;
  width: auto;
  height: 60px;
  align-items: center;
  padding: 0 20px;
  border-radius: 12px;
  background-color: $yellow;
  box-sizing: border-box;

  img {
    height: 35px;
    width: 35px;
    border-radius: 40px;
  }

  p {
    margin: 0;
  }

  p:nth-child(1) {
    font-weight: 500;
  }

  p:nth-child(2) {
    color: $grey;
  }
}

.icon-btn {
  background-color: $bg-grey;
  width: 70px;
  height: 60px;
  gap: 6px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;

  p {
    font-size: 10px;
    line-height: 12px;
    margin: 0;
  }
}

.hc3-wrapper {
  background-color: $wt;
  border-radius: 12px;
  height: 350px;
  width: 320px;
  overflow: hidden;
}

.iconbtn-wrapper {
  gap: 36px;
}

.hc1-card-wrapper {
  display: flex;
  min-width: 320px;
  max-width: 320px;
  gap: 8px;
}

.scroll {
  .hc1 {
    min-width: 240px;
  }
  overflow-x: scroll;
}

.no-scroll {
  flex-grow: 1;
  flex-basis: 0;

  p {
    max-width: 8ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.hc3-transition-enter {
  transform: translateX(-30%);
}

.hc3-transition-enter-active {
  transform: translateX(0%);
  transition: transform 1.5s ease-in;
}

.detail-screen-header {
  margin-left: 20px;

  img {
    transform: rotateZ(180deg);
    cursor: pointer;
  }
}

.details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $wt;
  border-radius: 6px;
  max-width: 320px;
  padding: 16px 28px;
  gap: 6px;
  p {
    margin: 0;
    text-align: center;
    width: max-content;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 4px 0;
    }
  }
}

.savings-challenge {
  .hc5 {
    animation: grow 1s;
    height: 150px;
    width: 360px;
    transform: translateY(-24px);
    cursor: initial;
  }

  .home-section {
    animation: slideUp 0.1s;
    transform: translateY(-45px);
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    max-width: 360px;
  }
  .flex-column {
    gap: 16px;
  }
}

@keyframes grow {
  from {
    height: 100px;
    width: 280px;
    transform: translateY(0);
  }
  to {
    height: 150px;
    width: 360px;
    transform: translateY(-24px);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-45px);
  }
}
